<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="cscheckout" xsi:type="array">
                    <item name="class" xsi:type="string">CSSoft\Cscheckout\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">19</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Add fc-build to the head without adding it to the merged js (assets) -->
    <type name="Magento\Framework\View\Result\Page">
        <plugin name="cssoft_cscheckout" type="CSSoft\Cscheckout\Plugin\View\ResultPage" sortOrder="-1"/>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cssoft_cscheckout_config_provider" xsi:type="object">CSSoft\Cscheckout\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Move email and its children blocks to separate step -->
    <type name="Magento\Checkout\Block\Onepage">
        <plugin name="cssoft_cscheckout" type="CSSoft\Cscheckout\Plugin\Block\Onepage" sortOrder="1000"/>
    </type>

    <!-- Enable GoogleAnalytics on checkout page -->
    <type name="Magento\GoogleAnalytics\Helper\Data">
        <plugin name="cssoft_cscheckout" type="CSSoft\Cscheckout\Plugin\Helper\GoogleAnalyticsData" />
    </type>

    <!-- Replace checkout url with cscheckout in all methods -->
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Model\CscheckoutConfigProvider" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Block\Link">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Block\Link" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Block\Onepage\Link">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Block\OnepageLink" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Block\Cart">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Block\Cart" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Block\CartSidebar" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Helper\Data">
        <plugin name="Cscheckout" type="CSSoft\Cscheckout\Plugin\Helper\CheckoutData" sortOrder="1" />
    </type>
</config>
